<h1>Dashboard 2</h1>
<ul>
{{#each items}}
    <li>
        {{this}}
    </li>
{{/each}}
</ul>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore libero natus voluptate et neque possimus ex saepe necessitatibus, est facere sequi, eligendi error incidunt atque veniam sapiente doloribus eveniet. Magnam!</p>
<a href="/">Voltar</a>